beautifulsoup4
datasets
huggingface-hub
kaggle
kagglehub
kagglesdk
matplotlib
numpy
opencv-contrib-python
pandas
pillow
rapidfuzz
requests
scikit-image
scipy
sentence-transformers>=2.2.0
spacy>=3.0
streamlit
tokenizers
torch
torchvision
tqdm
transformers
